<ion-view view-title="Contact Us">
  <ion-content>
     <div class="card">
          <div class="item item-divider">
            Location Information
          </div>
          <div class="item item-text-wrap">
          <p>
              <h2> Our Address</h2>
            </br>
            121, Clear Water Bay Road</br>
            Clear Water Bay, Kowloon</br>
            HONG KONG</br>
            <span class="icon-left ion-android-call">: +852 1234 5678</span></br>
            <span class="icon-left ion-printer">: +852 8765 4321</span></br>
            <span class="icon-left ion-email">: confusion@food.net</span>
        </p>
       
      </div>
 <div class="button-bar">
            <a class="button button-positive icon-left ion-android-call">Call</a>
            <a class="button button-calm icon-left ion-social-skype">Skype</a>
            <a class="button button-balanced icon-left ion-email">Email</a>
        </div>
      </div>
  </ion-content>
</ion-view>
